In [4]:
!pip install anonymizedf

Collecting anonymizedf
  Downloading anonymizedf-1.0.1-py3-none-any.whl (7.0 kB)
Collecting faker
  Downloading Faker-14.2.0-py3-none-any.whl (1.6 MB)
Requirement already satisfied: pandas in c:\users\windows\anaconda3\lib\site-packages (from anonymizedf) (1.4.2)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\windows\anaconda3\lib\site-packages (from faker->anonymizedf) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\windows\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker->anonymizedf) (1.16.0)
Requirement already satisfied: numpy>=1.18.5 in c:\users\windows\anaconda3\lib\site-packages (from pandas->anonymizedf) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\windows\anaconda3\lib\site-packages (from pandas->anonymizedf) (2021.3)
Installing collected packages: faker, anonymizedf
Successfully installed anonymizedf-1.0.1 faker-14.2.0

In [5]:
import pandas as pd
from anonymizedf.anonymizedf import anonymize
# Importar la data
df = pd.read_csv("https://query.data.world/s/shcktxndtu3ojonm46tb5udlz7sp3e")
df

,Customer ID,Customer Name,Loyalty Reward Points,Segment,Date,Fraction
0,AA-10315,Alex Avila,76,Consumer,01/01/2000,7.6
1,AA-10375,Allen Armold,369,Consumer,02/01/2000,36.9
2,AA-10480,Andrew Allen,162,Consumer,03/01/2000,16.2
3,AA-10645,Anna Andreadi,803,Consumer,04/01/2000,80.3
4,AB-10015,Aaron Bergman,935,Consumer,05/01/2000,93.5
...,...,...,...,...,...,...
788,XP-21865,Xylona Preis,454,Consumer,27/02/2002,45.4
789,YC-21895,Yoseph Carroll,935,Corporate,28/02/2002,93.5
790,YS-21880,Yana Sorensen,829,Corporate,01/03/2002,82.9
791,ZC-21910,Zuschuss Carroll,745,Consumer,02/03/2002,74.5
792,ZD-21925,Zuschuss Donatelli,85,Consumer,03/03/2002,8.5

In [6]:
# Preparar la data a ser anonimizada
an = anonymize(df)
an

# Forma 1: Modificacion uno a uno

In [7]:
an.fake_names("Customer Name")
an.fake_ids("Customer ID")
an.fake_whole_numbers("Loyalty Reward Points")
an.fake_categories("Segment")
an.fake_dates("Date")
an.fake_decimal_numbers("Fraction")

,Customer ID,Customer Name,Loyalty Reward Points,Segment,Date,Fraction,Fake_Customer Name,Fake_Customer ID,Fake_Loyalty Reward Points,Fake_Segment,Fake_Date,Fake_Fraction
0,AA-10315,Alex Avila,76,Consumer,01/01/2000,7.6,Carole Schofield,SJUL50700663409124,523,Segment 1,1983-04-21,61.76
1,AA-10375,Allen Armold,369,Consumer,02/01/2000,36.9,Janice Shaw-Williams,AYHV78464046190420,698,Segment 1,1998-07-25,69.33
2,AA-10480,Andrew Allen,162,Consumer,03/01/2000,16.2,Dr Dean Allen,LKFH85508050014520,368,Segment 1,1970-04-22,11.33
3,AA-10645,Anna Andreadi,803,Consumer,04/01/2000,80.3,Janet Rees-Sutton,FVQP15615384996622,111,Segment 1,1991-04-28,9.67
4,AB-10015,Aaron Bergman,935,Consumer,05/01/2000,93.5,Jonathan Roberts,MTNA56213382276075,113,Segment 1,2010-05-31,33.66
...,...,...,...,...,...,...,...,...,...,...,...,...
788,XP-21865,Xylona Preis,454,Consumer,27/02/2002,45.4,Jane Clements-Mellor,NJSW45403152432487,389,Segment 1,1987-12-29,87.41
789,YC-21895,Yoseph Carroll,935,Corporate,28/02/2002,93.5,Simon Morton,LSOV93655391489472,113,Segment 3,1979-02-16,33.66
790,YS-21880,Yana Sorensen,829,Corporate,01/03/2002,82.9,Mr Brian Davis,USFG45266339387502,137,Segment 3,2017-10-13,83.32
791,ZC-21910,Zuschuss Carroll,745,Consumer,02/03/2002,74.5,Wayne Foster,BWQY76321159612800,552,Segment 1,2015-12-18,80.28
792,ZD-21925,Zuschuss Donatelli,85,Consumer,03/03/2002,8.5,Mr Clifford Green,HWFN07677562042186,110,Segment 1,1981-05-14,17.22

In [8]:
df

,Customer ID,Customer Name,Loyalty Reward Points,Segment,Date,Fraction,Fake_Customer Name,Fake_Customer ID,Fake_Loyalty Reward Points,Fake_Segment,Fake_Date,Fake_Fraction
0,AA-10315,Alex Avila,76,Consumer,01/01/2000,7.6,Carole Schofield,SJUL50700663409124,523,Segment 1,1983-04-21,61.76
1,AA-10375,Allen Armold,369,Consumer,02/01/2000,36.9,Janice Shaw-Williams,AYHV78464046190420,698,Segment 1,1998-07-25,69.33
2,AA-10480,Andrew Allen,162,Consumer,03/01/2000,16.2,Dr Dean Allen,LKFH85508050014520,368,Segment 1,1970-04-22,11.33
3,AA-10645,Anna Andreadi,803,Consumer,04/01/2000,80.3,Janet Rees-Sutton,FVQP15615384996622,111,Segment 1,1991-04-28,9.67
4,AB-10015,Aaron Bergman,935,Consumer,05/01/2000,93.5,Jonathan Roberts,MTNA56213382276075,113,Segment 1,2010-05-31,33.66
...,...,...,...,...,...,...,...,...,...,...,...,...
788,XP-21865,Xylona Preis,454,Consumer,27/02/2002,45.4,Jane Clements-Mellor,NJSW45403152432487,389,Segment 1,1987-12-29,87.41
789,YC-21895,Yoseph Carroll,935,Corporate,28/02/2002,93.5,Simon Morton,LSOV93655391489472,113,Segment 3,1979-02-16,33.66
790,YS-21880,Yana Sorensen,829,Corporate,01/03/2002,82.9,Mr Brian Davis,USFG45266339387502,137,Segment 3,2017-10-13,83.32
791,ZC-21910,Zuschuss Carroll,745,Consumer,02/03/2002,74.5,Wayne Foster,BWQY76321159612800,552,Segment 1,2015-12-18,80.28
792,ZD-21925,Zuschuss Donatelli,85,Consumer,03/03/2002,8.5,Mr Clifford Green,HWFN07677562042186,110,Segment 1,1981-05-14,17.22

# Forma 2: Cadenas

In [9]:
fake_df = (
    an
    .fake_names("Customer Name", chaining=True)
    .fake_ids("Customer ID", chaining=True)
    .fake_whole_numbers("Loyalty Reward Points", chaining=True)
    .fake_categories("Segment", chaining=True)
    .fake_dates("Date", chaining=True)
    .fake_decimal_numbers("Fraction", chaining=True)
    .show_data_frame()
)
fake_df

,Customer ID,Customer Name,Loyalty Reward Points,Segment,Date,Fraction,Fake_Customer Name,Fake_Customer ID,Fake_Loyalty Reward Points,Fake_Segment,Fake_Date,Fake_Fraction
0,AA-10315,Alex Avila,76,Consumer,01/01/2000,7.6,Cameron Mitchell,PBFV56072398058073,388,Segment 1,2018-08-01,0.18
1,AA-10375,Allen Armold,369,Consumer,02/01/2000,36.9,Mr Aaron Barlow,BVCN26299897685255,191,Segment 1,1976-02-08,23.91
2,AA-10480,Andrew Allen,162,Consumer,03/01/2000,16.2,Megan Davies,IVVF35174418467776,780,Segment 1,1996-10-22,9.97
3,AA-10645,Anna Andreadi,803,Consumer,04/01/2000,80.3,Mr Gerald Skinner,MIDL31315324379714,93,Segment 1,2008-10-21,28.78
4,AB-10015,Aaron Bergman,935,Consumer,05/01/2000,93.5,Graham Freeman,EGJN90079683660871,965,Segment 1,1979-05-18,23.65
...,...,...,...,...,...,...,...,...,...,...,...,...
788,XP-21865,Xylona Preis,454,Consumer,27/02/2002,45.4,Miss Hayley Lewis,CKYI27932236342043,838,Segment 1,1988-12-18,40.96
789,YC-21895,Yoseph Carroll,935,Corporate,28/02/2002,93.5,Laura Curtis-Poole,XMKJ64472828132256,965,Segment 3,2017-07-01,23.65
790,YS-21880,Yana Sorensen,829,Corporate,01/03/2002,82.9,Martin Price,YMKL93073994883471,356,Segment 3,2002-07-13,89.31
791,ZC-21910,Zuschuss Carroll,745,Consumer,02/03/2002,74.5,Mr Mohammad Shepherd,XEHP14315049374838,991,Segment 1,2014-04-22,47.57
792,ZD-21925,Zuschuss Donatelli,85,Consumer,03/03/2002,8.5,Nigel Elliott,KZCF22746663345226,219,Segment 1,2009-06-15,25.10

# Forma 3: Asignacion multiple

In [10]:
fake_df = an.fake_names("Customer Name")
fake_df = an.fake_ids("Customer ID")
fake_df = an.fake_whole_numbers("Loyalty Reward Points")
fake_df = an.fake_categories("Segment")
fake_df = an.fake_dates("Date")
fake_df = an.fake_decimal_numbers("Fraction")
fake_df

,Customer ID,Customer Name,Loyalty Reward Points,Segment,Date,Fraction,Fake_Customer Name,Fake_Customer ID,Fake_Loyalty Reward Points,Fake_Segment,Fake_Date,Fake_Fraction
0,AA-10315,Alex Avila,76,Consumer,01/01/2000,7.6,Leonard Allen,LGYF67707793634412,30,Segment 1,1986-01-01,35.91
1,AA-10375,Allen Armold,369,Consumer,02/01/2000,36.9,Dr Howard Taylor,GJTJ42971795836444,109,Segment 1,2008-11-07,55.76
2,AA-10480,Andrew Allen,162,Consumer,03/01/2000,16.2,Marc Burton,IXNA14143260895899,33,Segment 1,2006-12-03,32.72
3,AA-10645,Anna Andreadi,803,Consumer,04/01/2000,80.3,Jodie Lee,FYYD93615140335994,600,Segment 1,2008-09-16,56.94
4,AB-10015,Aaron Bergman,935,Consumer,05/01/2000,93.5,Miss Annette Chapman,WTEN50740968961153,468,Segment 1,1995-03-13,29.07
...,...,...,...,...,...,...,...,...,...,...,...,...
788,XP-21865,Xylona Preis,454,Consumer,27/02/2002,45.4,Ruth Patel,RYIH56975394046970,846,Segment 1,1973-04-17,28.53
789,YC-21895,Yoseph Carroll,935,Corporate,28/02/2002,93.5,Duncan McLean,ZLLR36905876820237,468,Segment 3,2005-10-01,29.07
790,YS-21880,Yana Sorensen,829,Corporate,01/03/2002,82.9,Mr Jeremy Thomas,PYYY65084370971858,48,Segment 3,1984-06-05,48.70
791,ZC-21910,Zuschuss Carroll,745,Consumer,02/03/2002,74.5,Dr Simon Ball,ZZMK46684366702221,140,Segment 1,2017-11-12,50.91
792,ZD-21925,Zuschuss Donatelli,85,Consumer,03/03/2002,8.5,Marian Carr,NJSZ53885646776627,106,Segment 1,1984-07-18,44.22